@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Spotify_clone2.ViewModels.ProfileViewModel;

@{
    ViewData["Title"] = "Profile";

}

<section class="player-section set-bg" data-setbg="/img/player-bg.jpg">
    <div class="player-box">
        <div class="tarck-thumb-warp">
            <div class="tarck-thumb">
                <img src="~/img/wave-thumb.jpg" alt="">
            </div>
        </div>
        <div class="wave-player-warp">
            <div class="row">
                <div class="col-lg-8">
                    <div class="wave-player-info">
                        <h2>@ViewBag.clientPrenom @ViewBag.clientNom </h2>
                        <p>@ViewBag.clientEmail</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="songs-details-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="song-details-box">
                    <h3>Profile</h3>
                    <form action="/Account/changeUserDetail" id="userDetail" method="post">
                        <div class="validation-summary-valid text-danger" data-valmsg-summary="true">
                            <ul>
                                <li style="display:none"></li>
                            </ul>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" asp-for="UserDetailViewModel.Nom">Nom</label>
                            <input class="form-control" asp-for="UserDetailViewModel.Nom" value="@ViewBag.clientNom">
                            <span class="field-validation-valid text-danger"
                                asp-validation-for="UserDetailViewModel.Nom"></span>
                        </div>
                        <div class="mb-3">

                            <label class="form-label" asp-for="UserDetailViewModel.Prenom">Prenom</label>
                            <input class="form-control" asp-for="UserDetailViewModel.Prenom"
                                value="@ViewBag.clientPrenom">
                            <span class="field-validation-valid text-danger"
                                asp-validation-for="UserDetailViewModel.Prenom"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" asp-for="UserDetailViewModel.DOB">birthday</label>
                            <input class="form-control" asp-for="UserDetailViewModel.DOB" type="date"
                                value="@ViewBag.clientDob">
                            @ViewBag.clientDob
                            <span class="field-validation-valid text-danger"
                                asp-validation-for="UserDetailViewModel.DOB"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" asp-for="UserDetailViewModel.Username">Username</label>
                            <input class="form-control" asp-for="UserDetailViewModel.Username"
                                value="@ViewBag.clientUsername">
                            <span class="field-validation-valid text-danger"
                                asp-validation-for="UserDetailViewModel.Username"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" asp-for="UserDetailViewModel.Email">Email</label>
                            <input class="form-control" asp-for="UserDetailViewModel.Email"
                                value="@ViewBag.clientEmail">
                            <span class="field-validation-valid text-danger"
                                asp-validation-for="UserDetailViewModel.Email"></span>
                        </div>
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="song-details-box">
                            <h3>Change Password</h3>
                            <form action="/Account/changePassword" id="userDetail" method="post">
                                <div class="validation-summary-valid text-danger" data-valmsg-summary="true">
                                    <ul>
                                        <li style="display:none"></li>
                                    </ul>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" asp-for="ChangePasswordViewModel.OldPassword">Current
                                        Password</label>
                                    <input class="form-control" asp-for="ChangePasswordViewModel.OldPassword">
                                    <span class="field-validation-valid text-danger"
                                        asp-validation-for="ChangePasswordViewModel.OldPassword"></span>
                                </div>
                                <div class="mb-3">

                                    <label class="form-label" asp-for="ChangePasswordViewModel.NewPassword"></label>
                                    <input class="form-control" asp-for="ChangePasswordViewModel.NewPassword">
                                    <span class="field-validation-valid text-danger"
                                        asp-validation-for="ChangePasswordViewModel.NewPassword"></span>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" asp-for="ChangePasswordViewModel.ConfirmPassword"></label>
                                    <input class="form-control" asp-for="ChangePasswordViewModel.ConfirmPassword">
                                    <span class="field-validation-valid text-danger"
                                        asp-validation-for="ChangePasswordViewModel.ConfirmPassword"></span>
                                </div>
                                <button type="submit" class="btn btn-secondary">Submit</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
</section>