@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Spotify_clone2.ViewModels.ProfileViewModel;

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_RGateway.cshtml";


}
@section Style
{
<style>
    .tarck-thumb:hover .hoverop {
        opacity: 0.2;
    }
</style>
}
<section class="player-section set-bg" data-setbg="/img/pexels-daniel-reche-3721941.jpg">
    <div class="player-box" style="background: transparent;">
        <div class="tarck-thumb-warp">
            <div class="tarck-thumb">
                <form action="/Account/changePhoto" id="changePhoto" enctype="multipart/form-data" method="post">
                    <div class="validation-summary-valid text-danger" data-valmsg-summary="true">
                        <ul>
                            <li style="display:none"></li>
                        </ul>
                    </div>
                    <label class="form-label" asp-for="changePhoto.coverPhoto">
                        @if (@ViewBag.avatar != null)
                        {

                            <img src="~/img/@ViewBag.avatar" id="avatar" class="hoverop" alt="">
                        }
                        else
                        {
                            <img src="~/img/wave-thumb.jpg" id="avatar" class="hoverop" alt="">

                        }
                        <input asp-for="changePhoto.coverPhoto" onchange="readURL(this);" type="file"
                            name="changePhoto.coverPhoto" style="display:none">
                    </label>
                    <button type="submit" class="btn btn-secondary">Upload</button>
                </form>
            </div>
        </div>
        <div class="wave-player-warp">
            <div class="row">
                <div class="col-lg-8">
                    <div class="wave-player-info">
                        <h2 style="color: #d5ad1c;">@ViewBag.clientPrenom @ViewBag.clientNom </h2>
                        <p style="color:#fff">@ViewBag.clientEmail</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="songs-details-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="song-details-box">
                    <h3>Profile</h3>
                    <form action="/Account/changeUserDetail" id="userDetail" method="post">
                        <div class="validation-summary-valid text-danger" data-valmsg-summary="true">
                            <ul>
                                <li style="display:none"></li>
                            </ul>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" asp-for="UserDetailViewModel.Nom">Nom</label>
                            <input class="form-control" asp-for="UserDetailViewModel.Nom" value="@ViewBag.clientNom">
                            <span class="field-validation-valid text-danger"
                                asp-validation-for="UserDetailViewModel.Nom"></span>
                        </div>
                        <div class="mb-3">

                            <label class="form-label" asp-for="UserDetailViewModel.Prenom">Prenom</label>
                            <input class="form-control" asp-for="UserDetailViewModel.Prenom"
                                value="@ViewBag.clientPrenom">
                            <span class="field-validation-valid text-danger"
                                asp-validation-for="UserDetailViewModel.Prenom"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" asp-for="UserDetailViewModel.DOB">birthday</label>
                            <input class="form-control" asp-for="UserDetailViewModel.DOB" type="date"
                                value="@ViewBag.clientDob">
                            @ViewBag.clientDob
                            <span class="field-validation-valid text-danger"
                                asp-validation-for="UserDetailViewModel.DOB"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" asp-for="UserDetailViewModel.Username">Username</label>
                            <input class="form-control" asp-for="UserDetailViewModel.Username"
                                value="@ViewBag.clientUsername">
                            <span class="field-validation-valid text-danger"
                                asp-validation-for="UserDetailViewModel.Username"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" asp-for="UserDetailViewModel.Email">Email</label>
                            <input class="form-control" asp-for="UserDetailViewModel.Email"
                                value="@ViewBag.clientEmail">
                            <span class="field-validation-valid text-danger"
                                asp-validation-for="UserDetailViewModel.Email"></span>
                        </div>
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="song-details-box">
                            <h3>Change Password</h3>
                            <form action="/Account/changePassword" id="userPassword" method="post">
                                <div class="validation-summary-valid text-danger" data-valmsg-summary="true">
                                    <ul>
                                        <li style="display:none"></li>
                                    </ul>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" asp-for="ChangePasswordViewModel.OldPassword">Current
                                        Password</label>
                                    <input class="form-control" asp-for="ChangePasswordViewModel.OldPassword">
                                    <span class="field-validation-valid text-danger"
                                        asp-validation-for="ChangePasswordViewModel.OldPassword"></span>
                                </div>
                                <div class="mb-3">

                                    <label class="form-label" asp-for="ChangePasswordViewModel.NewPassword"></label>
                                    <input class="form-control" asp-for="ChangePasswordViewModel.NewPassword">
                                    <span class="field-validation-valid text-danger"
                                        asp-validation-for="ChangePasswordViewModel.NewPassword"></span>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" asp-for="ChangePasswordViewModel.ConfirmPassword"></label>
                                    <input class="form-control" asp-for="ChangePasswordViewModel.ConfirmPassword">
                                    <span class="field-validation-valid text-danger"
                                        asp-validation-for="ChangePasswordViewModel.ConfirmPassword"></span>
                                </div>
                                <button type="submit" class="btn btn-secondary">Submit</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
</section>
@section Scripts
{
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
    $(function () {
        $("#changePhoto").submit(function (e) {
            e.preventDefault();
            var formAction = $(this).attr("action");
            var fdata = new FormData();
            var fileInput = $('#changePhoto_coverPhoto')[0];
            var file = fileInput.files[0];
            fdata.append("changePhoto.coverPhoto", file);

            $.ajax({
                type: 'post',
                url: formAction,
                data: fdata,
                processData: false,
                contentType: false
            }).done(function (result) {

            });
        });
    })
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#avatar').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

</script>
}