@model Spotify_clone2.Models.Song
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_DetailLayout.cshtml";
    }

<!-- Category section -->
<section class="category-section spad">
    <div class="container-fluid">

        <div class="category-items">
            <div class="row">
                <div class="col-md-4">
                    <div class="category-item">
                        <img src="~/img/album/@Model.songCover" alt="">
                        <div class="ci-text">
                            <p>@Model.nomSong</p>
                        </div>
                        <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Category section end -->
<!-- Songs section  -->
<section class="songs-section">
    <div class="container">
            <!-- song -->
            <div class="song-item">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="song-info-box">
                            <img src="~/img/songsCover/@Model.songCover" alt="">
                            <div class="song-info">
                                <h4>@Model.nomSong</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="single_player_container">
                            <div class="single_player">
                                <div class="jp-jplayer jplayer" data-ancestor=".jp_container_@Model.SongId"
                                     data-url='@Url.Content("~/Song/" + Model.songPath)'></div>
                                <div class="jp-audio jp_container_@Model.SongId" role="application" aria-label="media player">
                                    <div class="jp-gui jp-interface">

                                        <!-- Player Controls -->
                                        <div class="player_controls_box">
                                            <button class="jp-prev player_button" tabindex="0"></button>
                                            <button class="jp-play player_button" tabindex="0"></button>
                                            <button class="jp-next player_button" tabindex="0"></button>
                                            <button class="jp-stop player_button" tabindex="0"></button>
                                        </div>
                                        <!-- Progress Bar -->
                                        <div class="player_bars">
                                            <div class="jp-progress">
                                                <div class="jp-seek-bar">
                                                    <div>
                                                        <div class="jp-play-bar">
                                                            <div class="jp-current-time" role="timer" aria-label="time">
                                                                0:00
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
                                        </div>
                                    </div>
                                    <div class="jp-no-solution">
                                        <span>Update Required</span>
                                        To play the media you will need to either update your browser to a recent version or
                                        update your <a href="http://get.adobe.com/flashplayer/" target="_blank">
                                            Flash
                                            plugin
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="songs-links">
                            <a href=""><img src="~/img/icons/p-1.png" alt=""></a>
                            <a href=""><img src="~/img/icons/p-2.png" alt=""></a>
                            <a href=""><img src="~/img/icons/p-3.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        <div class="site-pagination pt-5 mt-5">
            @for (var index = 0; index < @ViewBag.count; index++)
            {
                if (@index + 1 == @ViewBag.pageNumber)
                {
                    <a href='@Url.Action("Details", new { pageNumber = @index + 1 })' class="active">
                        0@(index+1).
                    </a>
                }
                else
                {
                    <a href='@Url.Action("Details", new { pageNumber = @index+1 })'>0@(index+1).</a>
                }
            }
        </div>
    </div>
</section>
@section Scripts{
    <!-- Audio Player and Initialization -->
    <script src="~/js/jquery.jplayer.min.js"></script>
    <script src="~/js/jplayerInit.js"></script>
}